# top-most EditorConfig file
root = true

# Set default charset
[*]
charset = utf-8
indent_style = space

# Unix-style newlines with a newline ending
[*.{php,yaml,md}]
end_of_line = lf
insert_final_newline = true

# 4 space indentation
[*.{php,yml,yaml,json}]
indent_size = 4

# Matches the exact files either package.json or .travis.yml
[{package.json,.travis.yml}]
indent_size = 2